{{> header-small }}

<div class="site-section">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-7 mb-5">
        <form action="#" class="contact-form">
          <h2 class="text-white mb-3">Quotes and Screenshots</h2>
          <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
              <label class="font-weight-bold" for="quote">Quote</label>
              <input type="text" id="quote" class="form-control" placeholder="The quote">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <label class="font-weight-bold" for="author">Author</label>
              <input type="email" id="author" class="form-control" placeholder="Person who said the quote">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-12">
              <input type="submit" value="Save New Quote" class="btn btn-primary py-3 px-4">
            </div>
          </div>
        </form>
      </div>

      <div class="col-lg-4 ml-auto">
        {{!-- <div class="p-4 mb-3 bg-white"> --}}
          <div class="team-member">
            <img src="/images/BLOBBY.jpg" alt="Image" class="img-fluid">
            <div class="text">
              <h1 class="mb-4">BLOBBY BLOBBY BLOBBY</h1><br />
              <h2 class="mb-2 font-weight-light h4">Mr. Blobby KBE</h2>
            </div>

          </div>

        {{!-- </div> --}}
      </div>

    </div>
  </div>
</div>

{{> footer }}

</div> <!-- This may be a typo -->

{{> scripts }}